body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #3BAFD9;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.form-section {
    margin-bottom: 20px;
}

#linkForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linkInput {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #3BAFD9;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2a8bbf;
}

.links-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#linksList {
    list-style: none;
    padding: 0;
}

#linksList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #3BAFD9;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.name {
    font-weight: bold;
    color: #000;
}

.delete-btn {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: darkred;
}
